<footer class="page-footer teal lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Web Dev Group Homework</h5>
                <p class="grey-text text-lighten-4">Creating an Angular app that can add and view employees while creating routing.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Made Possible thanks to</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://materializecss.com/">Materialize</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://angular.io/tutorial">Angular</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 Daniel Mont-Eton
            <a class="grey-text text-lighten-4 right" href="https://github.com/dansirdan">GitHub</a>
        </div>
    </div>
</footer>